In [86]:
from keras.utils import to_categorical
from keras.preprocessing import sequence
from sklearn.model_selection import train_test_split
from keras.models import Model, load_model
from keras.layers import Conv1D, GlobalMaxPooling1D, Dropout, Dense, Input, Embedding, MaxPooling1D, Flatten
from keras.callbacks import ModelCheckpoint
import numpy as np
import pickle
import pandas as pd 
from mxnet import gluon

ModuleNotFoundError: No module named 'mxnet'

In [26]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 
# Read data from file 'filename.csv' 
# (in the same directory that your python process is based)
# Control delimiters, rows, column names with read_csv (see later) 
train_df = pd.read_csv('../dacon/data/train.csv', encoding='utf-8') 
# Preview the first 5 lines of the loaded data 
train_df.drop(['id'], 1, inplace=True)
train_df.drop(['year_month'], 1, inplace=True)
train_df.head()

                                                text  smishing
0                           XXX은행성산XXX팀장입니다.행복한주말되세요         0
1              오늘도많이웃으시는하루시작하세요XXX은행 진월동VIP라운지 XXX올림         0
2  안녕하십니까 고객님. XXX은행입니다.금일 납부하셔야 할 금액은 153600원 입니...         0
3  XXX 고객님안녕하세요XXX은행 XXX지점입니다지난 한 해 동안 저희 XXX지점에 ...         0
4           1월은 새로움이 가득XXX입니다.올 한해 더 많이행복한 한해되시길바랍니다         0

In [27]:
train_sample = train_df[train_df['smishing'] == 0].head(100) 
train_sample = train_sample.append(train_df[train_df['smishing'] == 1].head(100) , ignore_index=True)
train_sample.head()

                                                text  smishing
0                           XXX은행성산XXX팀장입니다.행복한주말되세요         0
1              오늘도많이웃으시는하루시작하세요XXX은행 진월동VIP라운지 XXX올림         0
2  안녕하십니까 고객님. XXX은행입니다.금일 납부하셔야 할 금액은 153600원 입니...         0
3  XXX 고객님안녕하세요XXX은행 XXX지점입니다지난 한 해 동안 저희 XXX지점에 ...         0
4           1월은 새로움이 가득XXX입니다.올 한해 더 많이행복한 한해되시길바랍니다         0

In [28]:
import pandas as pd
train_sample.to_csv("training_sample.csv", mode='w', encoding='utf-8', index = False)

In [29]:
#===============================================================================================================

In [30]:
# Load the Pandas libraries with alias 'pd' 
import pandas as pd 
train_df = pd.read_csv('./training_sample.csv', encoding='utf-8') 
train_df.head()

                                                text  smishing
0                           XXX은행성산XXX팀장입니다.행복한주말되세요         0
1              오늘도많이웃으시는하루시작하세요XXX은행 진월동VIP라운지 XXX올림         0
2  안녕하십니까 고객님. XXX은행입니다.금일 납부하셔야 할 금액은 153600원 입니...         0
3  XXX 고객님안녕하세요XXX은행 XXX지점입니다지난 한 해 동안 저희 XXX지점에 ...         0
4           1월은 새로움이 가득XXX입니다.올 한해 더 많이행복한 한해되시길바랍니다         0

In [31]:
from collections import Counter
import kss
word_counter = Counter()

maxlen=0
for i, row in train_df.iterrows(): 
    wordlen=0
    train_text=kss.split_sentences(row['text'])
    for sent in train_text:
        sent=sent.replace('X', ' ')
        word_counter.update(sent.split())
        wordlen += len(sent.split())
    maxlen=max([maxlen, wordlen])

vocab=dict()
voca_index=3
vocab['PAD']=0
vocab['SEN_START']=1
vocab['SEN_END']=2
for key in word_counter.keys():
    vocab[key]=voca_index
    voca_index += 1
    
print(maxlen)
print(len(vocab))

244
3288

In [32]:
from nltk.tokenize import word_tokenize
import kss

train_df['word2ind'] = np.nan
train_df['word2ind'] = train_df['word2ind'].astype(object) 

train_df['labels'] = np.nan
train_df['labels'] = train_df['word2ind'].astype(object) 


for i, row in train_df.iterrows(): 
    msg=kss.split_sentences(row['text'])
    words=[]
    word2ind=[]
    for sent in msg:
        sent=sent.replace('X', ' ')
        words.extend(sent.split())
    
    for word in words:
        if word in vocab:
            word2ind.append(vocab[word])
        else:
            word2ind.append(0)

    #padding maxlen
    #a = word2ind
    #pad_value = 0
    #pad_size = maxlen - len(a)
    #word2ind = [*a, *[pad_value] * pad_size]

    train_df.at[i, 'word2ind'] = word2ind
    
    if row['smishing'] == 0: 
        train_df.at[i, 'labels'] = [1,0]
    else:
        train_df.at[i, 'labels'] = [0,1]
    

print(len(train_df))
train_df.head()

200

,text,smishing,word2ind,labels
0,XXX은행성산XXX팀장입니다.행복한주말되세요,0,"[3, 4, 5]","[1, 0]"
1,오늘도많이웃으시는하루시작하세요XXX은행 진월동VIP라운지 XXX올림,0,"[6, 7, 8, 9]","[1, 0]"
2,안녕하십니까 고객님. XXX은행입니다.금일 납부하셔야 할 금액은 153600원 입니...,0,"[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...","[1, 0]"
3,XXX 고객님안녕하세요XXX은행 XXX지점입니다지난 한 해 동안 저희 XXX지점에 ...,0,"[25, 7, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35...","[1, 0]"
4,1월은 새로움이 가득XXX입니다.올 한해 더 많이행복한 한해되시길바랍니다,0,"[59, 60, 61, 18, 62, 63, 64, 65, 66]","[1, 0]"

In [33]:
#Make Data
train_df.drop(['text'], 1, inplace=True)
train_df.drop(['smishing'], 1, inplace=True)
print(len(train_df))
train_df.head()

200

                                            word2ind  labels
0                                          [3, 4, 5]  [1, 0]
1                                       [6, 7, 8, 9]  [1, 0]
2  [10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 2...  [1, 0]
3  [25, 7, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35...  [1, 0]
4               [59, 60, 61, 18, 62, 63, 64, 65, 66]  [1, 0]

In [34]:
#=================================================================================

In [35]:
train_df.to_pickle("./smishing_training_sample.pkl")

In [36]:
#=================================================================================

In [37]:
MAX_WORDS_IN_SEQ = 244 #
EMBED_DIM = 200
MODEL_PATH = "./models/smishing_detect"

import os
os.makedirs(os.path.dirname(MODEL_PATH), exist_ok=True)

# Load Data

#with open("smishing_training.pkl", 'rb') as f:
#    word2index, labels = pickle.load(f) #한줄만 읽음

data = []
labels = []

train_df=pd.read_pickle('./smishing_training_sample.pkl')
#train_df.head()

for i, row in train_df.iterrows():
    d = row['word2ind']
    l = row['labels']
    
    d = to_categorical(d)
    d = sequence.pad_sequences(d, maxlen=3288, padding='post', value=0)
    data.append(d)
    labels.append(l)
    #print(d, l)
    #break

data = np.array(data)
labels = np.array(labels)

In [38]:
print(data.shape)
data = sequence.pad_sequences(data, maxlen=MAX_WORDS_IN_SEQ, padding='post', value=0)
print(data.shape)
print(labels.shape)
#print('Shape of data tensor:', data.shape)
print('Shape of label tensor:', labels.shape)

x_train, x_test, y_train, y_test = train_test_split(data, labels, test_size=0.2)
print("x_train", x_train.shape)
print("x_test", x_test.shape)
print("y_train", y_train.shape)
print("y_test", y_test.shape)

(200,)
(200, 244, 3288)
(200, 2)
Shape of label tensor: (200, 2)
x_train (160, 244, 3288)
x_test (40, 244, 3288)
y_train (160, 2)
y_test (40, 2)

In [39]:
# Building the model
input_seq = Input(shape=(MAX_WORDS_IN_SEQ, 3288))#, dtype='int32')
print(input_seq.shape)
#embed_seq = Embedding(3288, EMBED_DIM, embeddings_initializer='glorot_normal', input_length=MAX_WORDS_IN_SEQ)(input_seq)
#print(embed_seq.shape)

conv_1 = Conv1D(128, 5, activation='relu')(input_seq)
print("conv_1", conv_1.shape)
conv_1 = MaxPooling1D(pool_size=5)(conv_1)
print("conv_1_maxpooling1D", conv_1.shape)
conv_2 = Conv1D(128, 5, activation='relu')(conv_1)
print("conv_2", conv_2.shape)
conv_2 = MaxPooling1D(pool_size=5)(conv_2)
print("conv_2_maxpooling1D", conv_2.shape)
conv_3 = Conv1D(128, 5, activation='relu')(conv_2)
print("conv_3", conv_3.shape)
conv_3 = MaxPooling1D(pool_size=3)(conv_3) #
print("conv_3_maxpooling1D", conv_3.shape)
flat = Flatten()(conv_3)
print("flat", flat.shape)
flat = Dropout(0.25)(flat)
print("flat_dropout", flat.shape)
fc1 = Dense(128, activation='relu')(flat)
print("dense", fc1.shape)
dense_1 = Dropout(0.25)(flat)
print("dense_dropout", dense_1.shape)
fc2 = Dense(2, activation='softmax')(fc1)
print("dense", fc2.shape)

model = Model(input_seq, fc2)
model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['acc'])
model.summary()

(?, 244, 3288)
conv_1 (?, 240, 128)
conv_1_maxpooling1D (?, 48, 128)
conv_2 (?, 44, 128)
conv_2_maxpooling1D (?, 8, 128)
conv_3 (?, 4, 128)
conv_3_maxpooling1D (?, 1, 128)
flat (?, ?)
flat_dropout (?, ?)
dense (?, 128)
dense_dropout (?, ?)
dense (?, 2)
Model: "model_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_4 (InputLayer)         (None, 244, 3288)         0
_________________________________________________________________
conv1d_10 (Conv1D)           (None, 240, 128)          2104448
_________________________________________________________________
max_pooling1d_10 (MaxPooling (None, 48, 128)           0
_________________________________________________________________
conv1d_11 (Conv1D)           (None, 44, 128)           82048
_________________________________________________________________
max_pooling1d_11 (MaxPooling (None, 8, 128)            0
_________________________________________________________________
conv1d_12 (Conv1D)           (None, 4, 128)            82048
_________________________________________________________________
max_pooling1d_12 (MaxPooling (None, 1, 128)            0
_________________________________________________________________
flatten_4 (Flatten)          (None, 128)               0
_________________________________________________________________
dropout_7 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_7 (Dense)              (None, 128)               16512
_________________________________________________________________
dense_8 (Dense)              (None, 2)                 258
=================================================================
Total params: 2,285,314
Trainable params: 2,285,314
Non-trainable params: 0
_________________________________________________________________

In [40]:
# Train the model
model.fit(
    x_train,
    y_train,
    batch_size=128,
    epochs=2,
    callbacks=[ModelCheckpoint(MODEL_PATH, save_best_only=True)],
    validation_data=(x_test, y_test)
)

model.save(MODEL_PATH)

Train on 160 samples, validate on 40 samples
Epoch 1/2
160/160 [==============================] - 1s 6ms/step - loss: 0.6846 - acc: 0.4313 - val_loss: 0.5906 - val_acc: 0.5500
Epoch 2/2
160/160 [==============================] - 1s 4ms/step - loss: 0.5986 - acc: 0.5125 - val_loss: 0.4597 - val_acc: 0.7750

In [41]:
model.summary()

Model: "model_4"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_4 (InputLayer)         (None, 244, 3288)         0
_________________________________________________________________
conv1d_10 (Conv1D)           (None, 240, 128)          2104448
_________________________________________________________________
max_pooling1d_10 (MaxPooling (None, 48, 128)           0
_________________________________________________________________
conv1d_11 (Conv1D)           (None, 44, 128)           82048
_________________________________________________________________
max_pooling1d_11 (MaxPooling (None, 8, 128)            0
_________________________________________________________________
conv1d_12 (Conv1D)           (None, 4, 128)            82048
_________________________________________________________________
max_pooling1d_12 (MaxPooling (None, 1, 128)            0
_________________________________________________________________
flatten_4 (Flatten)          (None, 128)               0
_________________________________________________________________
dropout_7 (Dropout)          (None, 128)               0
_________________________________________________________________
dense_7 (Dense)              (None, 128)               16512
_________________________________________________________________
dense_8 (Dense)              (None, 2)                 258
=================================================================
Total params: 2,285,314
Trainable params: 2,285,314
Non-trainable params: 0
_________________________________________________________________

In [42]:
class CnnClassifierModel(gluon.HybridBlock):
    def __init__(self, **kwargs):
        super(CnnClassifierModel, self).__init__(**kwargs)
        with self.name_scope():
            self.conv1 = gluon.nn.Conv1D()

    def hybrid_forward(self, F, x, *args, **kwargs):
        pass

NameError: name 'gluon' is not defined

In [87]:
model = load_model(MODEL_PATH)
model.fit(
    x_train,
    y_train,
    batch_size=128,
    epochs=5,
    callbacks=[ModelCheckpoint(MODEL_PATH, save_best_only=True)],
    validation_data=[x_test, y_test]
)

model.save(MODEL_PATH)

Train on 160 samples, validate on 40 samples
Epoch 1/5
160/160 [==============================] - 1s 6ms/step - loss: 0.2687 - acc: 0.9875 - val_loss: 0.2093 - val_acc: 1.0000
Epoch 2/5
160/160 [==============================] - 1s 4ms/step - loss: 0.2332 - acc: 0.9750 - val_loss: 0.1716 - val_acc: 1.0000
Epoch 3/5
160/160 [==============================] - 1s 5ms/step - loss: 0.1741 - acc: 0.9812 - val_loss: 0.1324 - val_acc: 1.0000
Epoch 4/5
160/160 [==============================] - 1s 4ms/step - loss: 0.1186 - acc: 0.9875 - val_loss: 0.0958 - val_acc: 1.0000
Epoch 5/5
160/160 [==============================] - 1s 5ms/step - loss: 0.0736 - acc: 0.9875 - val_loss: 0.0637 - val_acc: 1.0000

In [ ]:
#=====================================================================================================================================

In [88]:
model.load(MODEL_PATH)

AttributeError: 'Model' object has no attribute 'load'

In [89]:
test_text = "믿고 거래해주셔서 진심으로 감사합니다.행복한하루되세요XXX당진XXX올림"
msg=kss.split_sentences(test_text)
words=[]
word2ind=[]
for sent in msg:
    sent=sent.replace('X', ' ')
    words.extend(sent.split())
for word in words:
    if word in vocab:
        word2ind.append(vocab[word])
    else:
        word2ind.append(0)

data = []
for d in word2ind:
    d = to_categorical(d)
    #print(d)
    N = 3288
    a = d
    pad_value = 0
    pad_size = N - len(a)
    d = [*a, *[pad_value] * pad_size]
    data.append(d)
    #print(len(d))
for i in range(244-len(data)):
    d = [0 for i in range(3288)]
    data.append(d)
    #print(len(d))


data = [data]
data = np.array(data)
print(data.shape)

(1, 244, 3288)

In [91]:
prediction = model.predict({'input_4': data })
print(prediction)

if prediction[0][0]>prediction[0][1]:
    print(0)
else:
    print(1)

[[0.86931634 0.13068369]]
0.86931634